{% extends 'base.html' %}
{% block content %}
    <div class="chart-container">
        <canvas id="chart"></canvas>
        <div>
    	<button id="btn" class="btn btn-primary btn-sm">Update</button>
    	<select id="drop">
		  <option value="temperature">Temperature</option>
		  <option value="pressure">Pressure</option>
		  <option value="delta_O2">Delta O2</option>
		  <option value="delta_CO2">Delta CO2</option>
		  <option value="flow">Flow</option>
		  <option value="raw_CO2">Raw CO2</option>
		  <option value="raw_O2">Raw O2</option>
		</select>
    	</div>
    </div>
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<script>
	let fetch_data = async () => {
		let response = await fetch('/data');
		// console.log(response.status)
		try{
			return response.json()
		}catch(e){
			console.log(e)
		}
	}
	window.onload = async () => {
	let data = await fetch_data();
	// console.log(data)
	let getField = (field, data) => {
		return data.map(item => {
			return item[field]
		})
	}
	let temperature = getField('temperature', data);
	let time = getField('time', data)
	// console.log(pressure)
	var ctx = document.getElementById("chart").getContext('2d');
	var chart = new Chart(ctx, {
	    type: 'line',
	    data: {
	        labels: time,
	        datasets: [{
	            label: 'Flow',
	            data: temperature,
	            // fill: false,
	            backgroundColor: [
	                // 'rgba(255, 99, 132, 0.2)',
	                // 'rgba(54, 162, 235, 0.2)',
	                // 'rgba(255, 206, 86, 0.2)',
	                // 'rgba(75, 192, 192, 0.2)',
	                'rgba(153, 102, 255, 0.2)',
	                'rgba(255, 159, 64, 0.2)',
	                'rgba(255, 159, 64, 0.2)'
	            ],
	            borderColor: [
	                'rgba(255,99,132,1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(255, 206, 86, 1)',
	                'rgba(75, 192, 192, 1)',
	                'rgba(153, 102, 255, 1)',
	                'rgba(255, 159, 64, 1)',
	                'rgba(255, 159, 64, 0.2)'
	            ],
	            borderWidth: 3
	        }]
	    },
	    options: {
	        scales: {
	            yAxes: [{
	                ticks: {
	                    beginAtZero:false
	                },
	                scaleLabel:{
	                	labelString: 'Flow',
	                	display: true,
	                }
	            }],
	            xAxes: [{
	                ticks: {
	                    beginAtZero:false
	                },
	                scaleLabel:{
	                	labelString: 'Time(s)',
	                	display: true,
	                }
	            }]
	        }
	    }
	});
	let update_btn = document.getElementById('btn')
	update_btn.onclick = () => {
	console.log('updating');
	let dropdown = document.getElementById('drop')
	var e = dropdown.options[dropdown.selectedIndex].value;
	console.log(e)
	tmp = getField(e, data)
	chart.data.datasets[0].label = e;
	chart.data.datasets[0].data = tmp
	chart.update();
	};
	}
</script>
{% endblock %}