{% extends 'base.html' %}

{% block content %}
<style type="text/css">
	.wrapper{
		padding-top: 20px;
	}
</style>
<div class="wrapper">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Time</th>
      <th scope="col">Flow</th>
      <th scope="col">Delta CO2</th>
      <th scope="col">Delta O2</th>
      <th scope="col">Raw CO2</th>
      <th scope="col">Raw O2</th>
      <th scope="col">Temperature</th>
      <th scope="col">Pressure</th>
    </tr>
  </thead>
  <tbody>
  	{% for row in records %}
    <tr>
      <th scope="row">{{row.time}}</th>
      <td>{{row.flow}}</td>
      <td>{{row.delta_CO2}}</td>
      <td>{{row.delta_O2}}</td>
      <td>{{row.raw_CO2}}</td>
      <td>{{row.raw_O2}}</td>
      <td>{{row.temperature}}</td>
      <td>{{row.pressure}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}